body{
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 50px;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100px;
    background-color: rgb(21, 21, 128);
}

h2 {
    font-size: 30px;
}

.row {
    display: flex;
    color:black;
}

div {
    display: block;

}

aside {
    display: block;
}

#search-input {
    width: 90%;
    height: 100%;
}

#search-button {
    width: 100%;
    background-color: rgb(38, 38, 199);
    margin-top: 10px;
    color: white;
}

ul {
    list-style: none;
}

.todayBlock {
    width: 100%;
    border: 2px solid black;
    margin-top: 10px;
    padding: 10px;
}

.listBlock {
    background-color: rgb(18, 18, 143);
    margin:2px;
    color:antiquewhite;
}

#today {
    margin-left: 10px;
}

#forecast{
    margin-left: 10px;
    margin-top: 10px;
}